@model Btlab4.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p style="font-size:24px">bạn đã mua cuốn <strong>@Model.Title</strong> với giá <strong>@Model.Price</strong>VNĐ</p>

